@import "tailwindcss";

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@keyframes border-beam {
  100% {
    offset-distance: 100%;
  }
}

@keyframes shimmer-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shimmer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-border-beam {
  animation: border-beam var(--duration) infinite linear;
}

.animate-shimmer-spin {
  animation: shimmer-spin var(--shimmer-duration) infinite linear;
}

.animate-shimmer {
  animation: shimmer var(--shimmer-duration) infinite linear;
}
